
.banner-img {
    position: absolute;
    width: -webkit-fill-available;
    height: 512px;
    left: 0px;
    top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0,0,0,0.75)),
    url("/../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index:-1;
}
.line{
    position: absolute;
    width: 690px;
    height: 3px;
    left: 25%;
    top: 13%;
    background: #fff8f8;
    -webkit-transform: matrix(1,0,0,-1,0,0);
    transform: matrix(1,0,0,-1,0,0);
}
.banner-name{
    position: absolute;
    width: 505px;
    /* height: 0px; */
    left: 35%;
    top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}
.banner-name span{
    margin: 0 10px;
}
.white{
        color: #F2F2F2;
    }
    .gold{
        color: #928300;
    }
.bottom{
    top:35%;
}
.banner-caption{
    width: 609px;
    height: 18px;
    margin: 23% auto;
    font-family: roboto;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F2F2F2;

}
@media (max-width:1024px){
    .banner-caption {


        height:  10px;
        margin: 29% auto 35%;
        font-size: 18px;
    }
    .line{
        width: 670px;
    height: 3px;
    left: 20%;
    }
    .banner-name{
       left: 30%;
    top: 10%;
    }
    
}


@media (max-width:900px){
    .banner-caption {

        height: 20px;
        margin: 34.5% auto 25%;
        font-size: 18px;
    }
    .line{
        width: 610px;
    height: 3px;
    left: 20%;
    }
    .banner-name{
        left: 30%;
        font-size: 4.29em;
        top: 7%;
    }
}

@media only screen and (min-width: 690px) and (max-width: 768px) {
   .banner-name{
    left: 23%;
    font-size: 4.29em;
    top: 7%;
   }
   .line{
       width: 435px;
   }
}

@media only screen and (min-width: 425px) and (max-width: 690px) {
    .banner-caption {
        width: auto;
        height: 20px;
        margin: 45% auto 35%;
        font-size: 18px;
    }
    .banner-name{
        left: 25%;
    top: 10.7%;
    font-size: 60px;
    }
    .line{
        width: 415px;
        left: 20%; 
    }
    .bottom {
        top: 35%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 425px){
.banner-name {
    left: 10%;
    font-size: 55px;

 }
 .banner-caption {
    width: 300px;
    height: 20px;
    margin: 85% auto 35%;
    font-size: 0.80em;
    }
    .line{
        width: 350px;
        left: 10%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px){
    .banner-name {
        left: 10%;
        font-size: 50px;
        top: 10%;
        width: 92%;
    
     }
     .banner-caption {
        width: 300px;
        height: 20px;
        margin: 95% auto 35%;;
        font-size: 0.80em;
        }
        .line{
            width: 305px;
            left: 10%;
        }
        .bottom{
            top: 30%;
        }
    }

    @media only screen and (max-width: 320px){

    .banner-caption {
    width: 300px;
    height: 20px;
    margin: 100% auto 35%;
    font-size: 0.80em;
    }
}