*{
    font-family:roboto;
    
}
.container{
    position: absolute;
    width: 100%;
}
.section-header h1{
width: 439px;
height: 70px;
margin: 15px auto;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;
text-align: center;
color: #000000;
}
.gold-header{
    color: #928300;
}
.section-caption
{
    margin: 15px auto;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
text-align: center;

}
.line{
width: 217px;
height: 0px;
border: 2px solid #928300;
margin: 30px auto;
}

.price-container{
    position: absolute;
}
.pr-grid{
    width: 416px;
    height: 391px;
    list-style: none;
    display: inline-block;
    margin: 0 5px;

}
.pr-grid img{
    width: 100%;
}
.details{
    display: inline-block;
}
.details{
font-style: normal;
font-weight: normal;
}
.small{
    font-size:18px;
}
.gold{
    color:#928300;
    font-weight: bold;
    font-size: 2rem;
}
.btn{
position: relative;
width: 160px;
height: 69px;
top: -30px;
left:2%;

background: #928300;

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
box-shadow:2px 1px rgba(0, 0, 0, 0.623);
border: 0;
color: #f2f2f2;
}
.btn:hover{
    background: #C37E57;
    color:#f2f2f2;
    transition: 250ms;
}

@media screen and (max-width:1024px){
    .pr-grid{
        width: 300px;
        height: 390px;
    }
    .btn{
        width: 100px;
        height: 49px;
        font-size: 18px;
    }
    .gold{
        font-size: 1.5rem;
    }
    .container{
        top:90%;
    }
}

@media screen and (max-width:985px){
    .pr-grid{
        width: 44%;
        display: flex;
        /* margin: 0 auto; */
        flex-direction: column;
        flex-flow: wrap;
        align-content: flex-start;
        margin: 0 auto;
    }
    .btn{
        top: 8%;
    }
    .gold{
        font-size: 1.5rem;
    }
    .section-header h1{
        font-size: 50px;
        width:100% ;
    }
    .section-caption{
        font-size: 17px;
    }
    .line{
        margin: 20px auto;
    }
    .container{
        top:90%;
    }
}

@media only screen and (min-width: 690px) and (max-width: 768px) {
    .container{
        position: absolute;
        width: 100%;
        top: 95%;
    }
}

@media only screen and (min-width: 425px) and (max-width: 690px) {
    .banner-caption {
        width: auto;
        height: 20px;
        margin: 45% auto 35%;
        font-size: 18px;
    }
    .banner-name{
        left: 15%;
    top: 10.7%;
    font-size: 60px;
    }
    .line{
        width: 415px;
    left: 10%;
        
    }
    .bottom {
        top: 35%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 425px){
    .container{
        top:95%;
        width: auto;
    }
    .pr-grid img{
        width: 200px;
    }
    .price-container{
        position: absolute;
    left: -10%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px){
    .container {
        position: absolute;
        width: 100%;
        
       top:100%;
   }
   .pr-grid img{
    width: 200px;
}
.price-container{
    margin: auto;
    position: absolute;
    left: 10%;
}
.pr-grid{
    margin: 0;
}

     
    }

    @media only screen and (max-width: 320px){

        .container{
            top:100%;
        }
        .pr-grid img{
            width: 200px;
        }
        .price-container{
            margin: auto;
            position: absolute;
            left: 5%;
        }
        .pr-grid{
            margin: 0;

        }
}